@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Variables */
:root {
    --primary-color: #9EC8B9;
    --secondary-color: #5C8374;
    --tertiary-color: #1B4242;
    --background-color: #092635; 
    --text-selected: white;
    --font-main: 'JetBrains Mono', monospace;
}

html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

body {
    margin: 30px;
    color: var(--primary-color);
    font-family: var(--font-main)
}

.book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.book-item {
    border-style: solid;
    border-color: var(--tertiary-color);
    border-radius: 1.5rem;
    padding: 1rem;
    text-wrap: wrap;
    flex: 0 0 calc(25% - 1rem);
}
